<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:panel id="Cliente" header="Cadastro de Cliente" style="margin-bottom:20px">
            <h:panelGrid columns="3" cellpadding="5">
            
            <p:outputLabel for="nomeCliente" value="Nome: " />
            <p:inputText id="nomeCliente" value="#{clienteManagedBean.nomeCliente}" required="true" label="Nome" >
                <f:validateLength minimum="2" />
            </p:inputText>
            <p:message for="nomeCliente" display="icon" />
                
            <p:outputLabel for="tipoDocumento" value="CPF/CNPJ" />
            <p:selectOneRadio id="tipoDocumento" value="#{clienteManagedBean.tipoDocumento}">
                <f:selectItem itemLabel="CPF" itemValue="CPF" />
                <f:selectItem itemLabel="CNPJ" itemValue="CNPJ" />
                <p:ajax process="@this" update="@form" />
            </p:selectOneRadio>
            <p:message for="tipoDocumento" display="icon" />
            
            <p:outputLabel for="cpfCliente" value="CPF: " />
            <p:inputMask id="cpfCliente" mask="999.999.999-99" value="#{clienteManagedBean.cpf}" disabled="#{clienteManagedBean.tipoDocumento== 'CNPJ'}" required="#{clienteManagedBean.tipoDocumento== 'CPF'}" >
                <f:validateLength minimum="2" />
            </p:inputMask>
            <p:message for="cpfCliente" display="icon" />

            <p:outputLabel for="cnpjCliente" value="CNPJ: " />
            <p:inputMask id="cnpjCliente" mask="99.999.999/9999-99" value="#{clienteManagedBean.cnpj}" disabled="#{clienteManagedBean.tipoDocumento == 'CPF'}" required="#{clienteManagedBean.tipoDocumento== 'CNPJ'}" >
                <f:validateLength minimum="2" />
            </p:inputMask>
            <p:message for="cnpjCliente" display="icon"/>
            
            <p:outputLabel for="endereco" value="Endereco: " />
            <p:inputText id="endereco" value="#{clienteManagedBean.idEndereco}" required="true" label="Endereco" >
                <f:validateLength minimum="0" />
            </p:inputText>
            <p:message for="endereco" display="icon"/>
                
            <p:outputLabel for="enderecoComplemento" value="Complemento: " />
            <p:inputText id="enderecoComplemento" value="#{clienteManagedBean.complemento}" />
            <br />
            
            <p:outputLabel for="enderecoNumero" value="Numero: " />
            <p:inputText id="enderecoNumero" value="#{clienteManagedBean.numeroEndereco}"  required="true" >
                <f:validateLength minimum="1" />
            </p:inputText>
            <p:message for="enderecoNumero" display="icon"/>
                
            </h:panelGrid>
            <p:commandButton value="Cadastrar" update="Cliente" actionListener="#{clienteManagedBean.onSubmit()}" />
        </p:panel>
    </h:form>
</html>