<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>    
        <p:dataTable id="cliente" var="cliente" value="#{clienteManagedBean.clientes}">
            <p:column headerText="ID">
                <h:outputText value="#{cliente.idCliente}" />
            </p:column>
            
           <p:column headerText="Nome Cliente">
                <h:outputText value="#{cliente.nome.nomeCompleto}" />
            </p:column>
            
            <p:column headerText="CPF">
                <h:outputText value="#{cliente.cpf.cpfString}" />
            </p:column>
            
            <p:column headerText="CNPJ">
                <h:outputText value="#{cliente.cnpj.cnpjString}" />
            </p:column>
            
        </p:dataTable>
        
    </h:form>
</html>