<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
        
        <h:form>
            <p:panel id="Endereço" header="Cadastro de Logradouro" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="tipoLogradouro" value="Tipo Logradouro: " />
                <h:selectOneMenu id="tipoLogradouro" value="#{logradouroManagedBean.idTipoLogradouro}">
                        <f:selectItem itemLabel="..." itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{enderecoManagedBean.tiposLogradouro}" />
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="logradouro" value="Logradouro: " />
                    <p:inputText id="logradouro" value="#{logradouroManagedBean.nomeLogradouro}" />
                </h:panelGrid>
                    <p:commandButton value="Cadastrar" actionListener="#{logradouroManagedBean.onSubmit()}" />
            </p:panel>
        </h:form>
</html>