<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   
    <h:messages globalOnly="true" />

   <p:ajaxExceptionHandler />
<h:form>
        <p:panel id="Endereço" header="Cadastro de Endereço" style="margin-bottom:20px">
            <!-- CEP -->
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="cep" value="CEP: " />
                <p:inputMask id="cep" mask="99999999" value="#{enderecoManagedBean.cep}" />
                <br />
            </h:panelGrid>
            <!-- Fim CEP -->

            <!-- País -->
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="pais" value="País:" />
                <h:selectOneMenu id="pais" value="#{enderecoManagedBean.pais}">
                    <f:selectItem itemLabel="Selecione o Pais" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.paises}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <!-- Fim País-->

            <!-- Lista estados-->
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="estado" value="Estado:" />
                <h:selectOneMenu id="estado" value="#{enderecoManagedBean.estado}">
                    <p:ajax listener="#{enderecoManagedBean.onUnidadeFederativaChange()}" update="cidade" />
                    <f:selectItem itemLabel="Selecione o Estado" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.estados}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <!-- Fim lista estado -->

            <!-- Lista Cidades Cidade -->
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="cidade" value="Cidade:" />
                <h:selectOneMenu id="cidade" value="#{enderecoManagedBean.cidade}">
                    <f:selectItem itemLabel="Selecione a Cidade" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.cidades}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <!-- Fim Cidade-->

            <!-- Logradouro -->
            <h:panelGrid columns="4" cellpadding="5">
                <p:outputLabel for="tipoLogradouro" value="Logradouro: " />
                <h:selectOneMenu id="tipoLogradouro" value="#{enderecoManagedBean.tipoLogradouro}">
                    <p:ajax listener="#{enderecoManagedBean.onTipoLogradouroChange()}" update="logradouro" />          
                    <f:selectItem itemLabel="RUA" itemValue="17" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.tiposLogradouro}" />
                </h:selectOneMenu>
                <h:selectOneMenu id="logradouro" value="#{enderecoManagedBean.logradouro}">
                    <f:selectItem itemLabel="..." itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.logradouros}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <!-- Fim Logradouro -->

            <!-- Bairro -->
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="bairro" value="Bairro:" />
                <h:selectOneMenu id="bairro" value="#{enderecoManagedBean.bairro}">
                    <f:selectItem itemLabel="Selecione o Bairro" itemValue="" noSelectionOption="true" />
                    <f:selectItems value="#{enderecoManagedBean.bairros}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <!-- Fim Bairro -->
            <p:commandButton value="Cadastrar"  actionListener="#{enderecoManagedBean.onSubmit()}" />
        </p:panel>
    </h:form>
</html>