<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
<p:tabView>
        <p:tab title="Cadastro de Endereços">
            <h:panelGrid columns="2" cellpadding="10">
                <ui:include src="cadastraEndereco.xhtml" />
            </h:panelGrid>
        </p:tab>

        <p:tab title="Lista de Endereços">
            <h:panelGrid columns="2" cellpadding="10">
            </h:panelGrid>
        </p:tab>
        
        <p:tab title="Cadastro de Bairros">
            <h:panelGrid columns="2" cellpadding="10">
                <ui:include src="cadastraBairro.xhtml" />
            </h:panelGrid>
        </p:tab>
    
        <p:tab title="Lista de Bairros">
            <h:panelGrid columns="2" cellpadding="10">
                <ui:include src="listaBairros.xhtml" />
            </h:panelGrid>
        </p:tab>
        
        <p:tab title="Cadastro de Logradouros">
            <h:panelGrid columns="2" cellpadding="10">
                <ui:include src="cadastraLogradouro.xhtml" />
            </h:panelGrid>
        </p:tab>
        
        <p:tab title="Lista de Logradouros">
            <h:panelGrid columns="2" cellpadding="10">
                <ui:include src="listaLogradouros.xhtml" />
            </h:panelGrid>
        </p:tab>
        
</p:tabView>
</html>