<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <h:panelGrid columns="4" cellpadding="5">
            <p:outputLabel for="tipoLogradouro" value="Logradouro: " />
            <h:selectOneMenu id="tipoLogradouro" value="#{enderecoManagedBean.tipoLogradouro}">
                <p:ajax listener="#{enderecoManagedBean.onTipoLogradouroChange()}" update="logradouro" />          
                <f:selectItem itemLabel="..." itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{enderecoManagedBean.tiposLogradouro}" />
            </h:selectOneMenu>
        </h:panelGrid>
        
        
        <p:dataTable id="logradouro" var="logradouro" value="#{enderecoManagedBean.logradourosArrayList}">
            <p:column headerText="Id">
                <h:outputText value="#{logradouro.idLogradouro}" />
            </p:column>

            <p:column headerText="Nome">
                <h:outputText value="#{logradouro.nomeLogradouro}" />
            </p:column>
        </p:dataTable>
        
    </h:form>
</html>