<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:dataTable var="bairro" value="#{bairroManagedBean.bairros}">
            <p:column headerText="Id">
                <h:outputText value="#{bairro.idBairro}" />
            </p:column>

            <p:column headerText="Nome">
                <h:outputText value="#{bairro.nomeBairro}" />
            </p:column>
        </p:dataTable>
    </h:form>
</html>