<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:dataTable id="venda" var="venda" value="#">
            <!--<p:column headerText="Codigo de Barras">
                <h:outputText value="#{cliente}" />
            </p:column>
            -->
        </p:dataTable>
        
    </h:form>
</html>