<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:panel id="Fornecedor" header="Cadastro de Fornecedor" style="margin-bottom:20px">
            <h:panelGrid columns="3" cellpadding="5">
            
            <p:outputLabel for="nomeFornecedor" value="Nome: " />
            <p:inputText id="nomeFornecedor" value="#{fornecedorManagedBean.nomeFornecedor}"   required="true" >
                <f:validateLength minimum="2" />
            </p:inputText>
            <p:message for="nomeFornecedor" display="icon"/>
                
            <p:outputLabel for="cnpjFornecedor" value="CNPJ: " />
            <p:inputMask id="cnpjFornecedor" mask="99.999.999/9999-99" value="#{fornecedorManagedBean.cnpj}"  required="true" >
                <f:validateLength minimum="2" />
            </p:inputMask>
            <p:message for="cnpjFornecedor" display="icon"/>
            
            <p:outputLabel for="endereco" value="Endereco: " />
            <p:inputText id="endereco" value="#{fornecedorManagedBean.idEndereco}"  required="true" >
                <f:validateLength minimum="1" />
            </p:inputText>
            <p:message for="endereco" display="icon"/>
                
            <p:outputLabel for="enderecoComplemento" value="Complemento: " />
            <p:inputText id="enderecoComplemento" value="#{fornecedorManagedBean.complemento}"  />
            <br />
                
            <p:outputLabel for="enderecoNumero" value="Numero: " />
            <p:inputText id="enderecoNumero" value="#{fornecedorManagedBean.numeroEndereco}"  required="true" >
                <f:validateLength minimum="1" />
            </p:inputText>
            <p:message for="enderecoNumero" display="icon"/>
                
            </h:panelGrid>
            <p:commandButton value="Cadastrar" update="Fornecedor" actionListener="#{fornecedorManagedBean.onSubmit()}" />
        </p:panel>
    </h:form>
</html>