<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:panel id="Endereço" header="Cadastro de Produtos" style="margin-bottom:20px">
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="codBarras" value="Codigo de Barras: " />
                <p:spinner id="codBarras" value="#{produtoManagedBean.codBarras}" min="0"    required="true" >
                    <f:validateLength minimum="2" />
                </p:spinner>
                <p:message for="codBarras" display="icon"/>
                
                <p:outputLabel for="nomeProduto" value="Nome do produto: " />
                <p:inputText id="nomeProduto" value="#{produtoManagedBean.nomeProduto}" required="true" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <p:message for="nomeProduto" display="icon"/>
                
                <p:outputLabel for="precoCusto" value="Preço de Custo: " />
                <p:spinner id="precoCusto" value="#{produtoManagedBean.precoCusto}"  min="0.00" stepFactor="0.01" required="true"/>
                <p:message for="precoCusto" display="icon"/>
                
                <p:outputLabel for="precoVenda" value="Preço de Venda: " />
                <p:spinner id="precoVenda" value="#{produtoManagedBean.precoVenda}" min="0.00" stepFactor="0.01" required="true"/>
                <p:message for="precoVenda" display="icon"/>
                
                <p:outputLabel for="qtdMinima" value="Quantidade Minima: " />
                <p:spinner id="qtdMinima" value="#{produtoManagedBean.qtdMinima}" min="0" required="true"/>
                <p:message for="qtdMinima" display="icon"/>
                
                <p:outputLabel for="qtdEstoque" value="Quantidade em Estoque: " />
                <p:spinner id="qtdEstoque" value="#{produtoManagedBean.qtdEstoque}" min="0" required="true"/>
                <p:message for="qtdEstoque" display="icon"/>

            </h:panelGrid>
            <p:commandButton value="Cadastrar" update="Endereço" actionListener="#{produtoManagedBean.onSubmit()}" />
        </p:panel>
    </h:form>
</html>