<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:dataTable id="produto" var="produto" value="#{produtoManagedBean.produtos}">
            <p:column headerText="Codigo de Barras">
                <h:outputText value="#{produto.codBarras}" />
            </p:column>

            <p:column headerText="Nome">
                <h:outputText value="#{produto.nomeProduto}" />
            </p:column>
            
            <p:column headerText="Preço de Custo">
                <h:outputText value="#{produto.precoCuso}" />
            </p:column>
            
            <p:column headerText="Preço de Venda">
                <h:outputText value="#{produto.precoVenda}" />
            </p:column>
            
            <p:column headerText="Quantidade Minima">
                <h:outputText value="#{produto.qtdMinima}" />
            </p:column>
            
            <p:column headerText="Quantidade em Estoque">
                <h:outputText value="#{produto.qtdEstoque}" />
            </p:column>
        </p:dataTable>
        
    </h:form>
</html>