<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Controle de Estoque</title>
    </h:head>
    <h:body>
        <p:tabView orientation="left">
            <p:tab title="Produtos">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="produtos.xhtml" />
                </h:panelGrid>
            </p:tab>
            
            <p:tab title="Vendas">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="vendas.xhtml" />
                </h:panelGrid>
            </p:tab>
 
            <p:tab title="Compras">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="compras.xhtml" />
                </h:panelGrid>
            </p:tab>
            
            <p:tab title="Clientes">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="clientes.xhtml" />
                </h:panelGrid>
            </p:tab>
            
            
            <p:tab title="Fornecedores">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="fornecedores.xhtml" />
                </h:panelGrid>
            </p:tab>
            
            
            <p:tab title="Enderecos">
                <h:panelGrid columns="2" cellpadding="10">
                    <ui:include src="Endereco/enderecos.xhtml" />
                </h:panelGrid>
            </p:tab>
            
        </p:tabView>  
    </h:body>
</html>
