<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
<p:tabView>
        <p:tab title="Cadastro">
            <h:panelGrid columns="2" cellpadding="10">
            </h:panelGrid>
        </p:tab>

        <p:tab title="Lista">
            <h:panelGrid columns="2" cellpadding="10">
            </h:panelGrid>
        </p:tab>
    
</p:tabView>
</html>