<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:form>
        <p:panel id="Venda" header="Cadastro de Compras" style="margin-bottom:20px">
            <h:panelGrid columns="3" cellpadding="5">
                <p:outputLabel for="data" value="Data da Compra: " />
                <p:calendar  id="data" value="#{compraManagedBean.data}" mode="inline" />
                <p:message for="data" display="icon"/>
                
                <p:outputLabel for="cnpjFornecedor" value="CNJP Fornecedor: " />
                <p:inputMask id="cnpjFornecedor" mask="99.999.999/9999-99" value="#{compraManagedBean.cnpjFornecedor}" required="true" >
                    <f:validateLength minimum="2" />
                </p:inputMask>
                <p:message for="cnpjFornecedor" display="icon"/>
                
                <p:outputLabel for="codBarras" value="Codigo de Barras Produto: " />
                <p:inputText id="codBarras" value="#{compraManagedBean.codBarras}"  required="true" >
                    <f:validateLength minimum="2" />
                </p:inputText>
                <p:message for="codBarras" display="icon"/>
                
                <p:outputLabel for="precoCompra" value="Preco de Compra: " />
                <p:inputText id="precoCompra" value="#{compraManagedBean.precoCompra}"  required="true" >
                    <f:validateLength minimum="1" />
                </p:inputText>
                <p:message for="precoCompra" display="icon"/>
                
                <p:outputLabel for="qtProduto" value="Quantidade Comprada: " />
                <p:inputText id="qtProduto" value="#{compraManagedBean.qtProduto}"   required="true" >
                    <f:validateLength minimum="1" />
                </p:inputText>
                <p:message for="qtProduto" display="icon"/>
            </h:panelGrid>
            <p:commandButton value="Cadastrar" update="Venda" actionListener="#{compraManagedBean.onSubmit()}" />
        </p:panel>
    </h:form>
</html>